### Always ignore

*~
*.diff
*.err
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.tmp
*.vi
*.zip

### OS / Editors

.DS_Store
._*
Thumbs.db
.cache

.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.komodoproject
.komodotools
.gitconfig

### Folders
.git/
.svn/
.CVS/
node_modules/
dist/

